<div class="container">
    <div class="row">
        <section class="col-1"></section>
        <section class="col-10">
            <div class="row d-flex pb-2">
                <button type="button" class="btn btn-primary btn-sm">Upload Report</button>
            </div>
            <div class="row">
                <div>
                    <ag-grid-angular
                    #agGrid
                    style="height: 520px; width:1020px"
                    class="ag-theme-alpine"
                    [rowData]="rowData"
                    [columnDefs]="columnDefs"
                    [pagination]="true"
                    [paginationPageSize]=10
                    (gridReady)="onGridReady($event)">
                    </ag-grid-angular>
                </div>
            </div>       
        </section>
        <section class="col-1"></section>
    </div>
</div>


